In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()

unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)
replace_types = application_type_counts[application_type_counts < 1000].index
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(replace_types, 'Other')
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64
APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 1000
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()

print(classification_counts)

cutoff_value = 1000
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index

for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")


print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()

classification_counts_gt_1 = classification_counts[classification_counts > 1]

print(classification_counts_gt_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1000  # You can adjust this value based on your desired threshold
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff_value].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,True,False,False,False,True,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [11]:
# Split our preprocessed data into our features and target arrays

X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the optimized model
nn_optimized = tf.keras.models.Sequential()

# First hidden layer with increased neurons
nn_optimized.add(tf.keras.layers.Dense(units=200, activation='relu', input_dim=X_train.shape[1]))

# Second hidden layer with increased neurons
nn_optimized.add(tf.keras.layers.Dense(units=100, activation='relu'))

# Third hidden layer with increased neurons
nn_optimized.add(tf.keras.layers.Dense(units=50, activation='relu'))

# Fourth hidden layer added
nn_optimized.add(tf.keras.layers.Dense(units=25, activation='relu'))

# Output layer
nn_optimized.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the optimized model
nn_optimized.summary()

# Compile the optimized model
nn_optimized.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the optimized model with increased epochs
fit_model_optimized = nn_optimized.fit(X_train_scaled, y_train, epochs=100, validation_split=0.2, callbacks=[tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=5)])

# Evaluate the optimized model using the test data
model_loss_optimized, model_accuracy_optimized = nn_optimized.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Optimized Loss: {model_loss_optimized}, Optimized Accuracy: {model_accuracy_optimized}")

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 200)                            8,200

 dense_1 (Dense)                       (None, 100)                           20,100

 dense_2 (Dense)                       (None, 50)                             5,050

 dense_3 (Dense)                       (None, 25)                             1,275

 dense_4 (Dense)                       (None, 1)                                 26

 Total params: 34,651 (135.36 KB)

 Trainable params: 34,651 (135.36 KB)

 Non-trainable params: 0 (0.00 B)

Epoch 1/100
644/644  21s 13ms/step - accuracy: 0.7137 - loss: 0.5850 - val_accuracy: 0.7170 - val_loss: 0.5730
Epoch 2/100
644/644  4s 3ms/step - accuracy: 0.7311 - loss: 0.5565 - val_accuracy: 0.7236 - val_loss: 0.5679
Epoch 3/100
644/644  3s 4ms/step - accuracy: 0.7320 - loss: 0.5507 - val_accuracy: 0.7236 - val_loss: 0.5652
Epoch 4/100
644/644  3s 4ms/step - accuracy: 0.7375 - loss: 0.5493 - val_accuracy: 0.7256 - val_loss: 0.5636
Epoch 5/100
644/644  5s 4ms/step - accuracy: 0.7342 - loss: 0.5509 - val_accuracy: 0.7263 - val_loss: 0.5694
Epoch 6/100
644/644  3s 4ms/step - accuracy: 0.7379 - loss: 0.5501 - val_accuracy: 0.7223 - val_loss: 0.5636
Epoch 7/100
644/644  2s 4ms/step - accuracy: 0.7352 - loss: 0.5494 - val_accuracy: 0.7232 - val_loss: 0.5656
Epoch 8/100
644/644  3s 5ms/step - accuracy: 0.7370 - loss: 0.5500 - val_accuracy: 0.7269 - val_loss: 0.5633
Epoch 9/100
644/644  4s 5ms/step - accuracy: 0.7376 - loss: 0.5472 - val_accuracy: 0.7205 - val_loss: 0.5661
Epoch 10/100
644/644  4s 3ms/step - accuracy: 0.7366 - loss: 0.5493 - val_accuracy: 0.7258 - val_loss: 0.5660
Epoch 11/100
644/644  2s 4ms/step - accuracy: 0.7434 - loss: 0.5401 - val_accuracy: 0.7221 - val_loss: 0.5649
Epoch 12/100
644/644  2s 3ms/step - accuracy: 0.7418 - loss: 0.5410 - val_accuracy: 0.7261 - val_loss: 0.5621
Epoch 13/100
644/644  4s 6ms/step - accuracy: 0.7415 - loss: 0.5456 - val_accuracy: 0.7256 - val_loss: 0.5648
Epoch 14/100
644/644  4s 4ms/step - accuracy: 0.7347 - loss: 0.5459 - val_accuracy: 0.7238 - val_loss: 0.5669
Epoch 15/100
644/644  2s 3ms/step - accuracy: 0.7373 - loss: 0.5464 - val_accuracy: 0.7256 - val_loss: 0.5674
Epoch 16/100
644/644  3s 4ms/step - accuracy: 0.7322 - loss: 0.5516 - val_accuracy: 0.7250 - val_loss: 0.5627
Epoch 17/100
644/644  3s 4ms/step - accuracy: 0.7396 - loss: 0.5441 - val_accuracy: 0.7248 - val_loss: 0.5638
268/268 - 1s - 3ms/step - accuracy: 0.7279 - loss: 0.5549
Optimized Loss: 0.5549060106277466, Optimized Accuracy: 0.7279300093650818

In [14]:
# Define the further optimized model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_further_optimized = tf.keras.models.Sequential()

# First hidden layer with increased neurons and batch normalization
nn_further_optimized.add(tf.keras.layers.Dense(units=200, activation='relu', input_dim=X_train.shape[1]))
nn_further_optimized.add(tf.keras.layers.BatchNormalization())
nn_further_optimized.add(tf.keras.layers.Dropout(0.2))

# Second hidden layer with increased neurons, batch normalization, and dropout
nn_further_optimized.add(tf.keras.layers.Dense(units=100, activation='relu'))
nn_further_optimized.add(tf.keras.layers.BatchNormalization())
nn_further_optimized.add(tf.keras.layers.Dropout(0.2))

# Third hidden layer with increased neurons, batch normalization, and dropout
nn_further_optimized.add(tf.keras.layers.Dense(units=50, activation='relu'))
nn_further_optimized.add(tf.keras.layers.BatchNormalization())
nn_further_optimized.add(tf.keras.layers.Dropout(0.2))

# Fourth hidden layer
nn_further_optimized.add(tf.keras.layers.Dense(units=25, activation='relu'))
nn_further_optimized.add(tf.keras.layers.BatchNormalization())
nn_further_optimized.add(tf.keras.layers.Dropout(0.2))

# Output layer
nn_further_optimized.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Compile the further optimized model with a different optimizer and learning rate
nn_further_optimized.compile(loss="binary_crossentropy", optimizer=tf.keras.optimizers.Adam(learning_rate=0.001), metrics=["accuracy"])

# Train the further optimized model with increased epochs and early stopping
fit_model_further_optimized = nn_further_optimized.fit(X_train_scaled, y_train, epochs=100, validation_split=0.2, callbacks=[tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=5)])

# Evaluate the further optimized model using the test data
model_loss_further_optimized, model_accuracy_further_optimized = nn_further_optimized.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Further Optimized Loss: {model_loss_further_optimized}, Further Optimized Accuracy: {model_accuracy_further_optimized}")

Epoch 1/100
644/644  19s 7ms/step - accuracy: 0.6551 - loss: 0.6722 - val_accuracy: 0.7153 - val_loss: 0.5809
Epoch 2/100
644/644  4s 6ms/step - accuracy: 0.7039 - loss: 0.5970 - val_accuracy: 0.7201 - val_loss: 0.5711
Epoch 3/100
644/644  9s 14ms/step - accuracy: 0.7200 - loss: 0.5811 - val_accuracy: 0.7211 - val_loss: 0.5696
Epoch 4/100
644/644  5s 8ms/step - accuracy: 0.7252 - loss: 0.5688 - val_accuracy: 0.7246 - val_loss: 0.5664
Epoch 5/100
644/644  4s 7ms/step - accuracy: 0.7303 - loss: 0.5650 - val_accuracy: 0.7226 - val_loss: 0.5686
Epoch 6/100
644/644  6s 7ms/step - accuracy: 0.7305 - loss: 0.5620 - val_accuracy: 0.7232 - val_loss: 0.5670
Epoch 7/100
644/644  4s 6ms/step - accuracy: 0.7268 - loss: 0.5661 - val_accuracy: 0.7205 - val_loss: 0.5684
Epoch 8/100
644/644  7s 8ms/step - accuracy: 0.7274 - loss: 0.5674 - val_accuracy: 0.7238 - val_loss: 0.5667
Epoch 9/100
644/644  9s 7ms/step - accuracy: 0.7266 - loss: 0.5644 - val_accuracy: 0.7234 - val_loss: 0.5658
Epoch 10/100
644/644  6s 9ms/step - accuracy: 0.7266 - loss: 0.5635 - val_accuracy: 0.7267 - val_loss: 0.5656
Epoch 11/100
644/644  8s 6ms/step - accuracy: 0.7275 - loss: 0.5656 - val_accuracy: 0.7223 - val_loss: 0.5682
Epoch 12/100
644/644  7s 8ms/step - accuracy: 0.7277 - loss: 0.5639 - val_accuracy: 0.7228 - val_loss: 0.5648
Epoch 13/100
644/644  9s 6ms/step - accuracy: 0.7253 - loss: 0.5639 - val_accuracy: 0.7242 - val_loss: 0.5669
Epoch 14/100
644/644  6s 9ms/step - accuracy: 0.7359 - loss: 0.5529 - val_accuracy: 0.7236 - val_loss: 0.5675
Epoch 15/100
644/644  4s 6ms/step - accuracy: 0.7316 - loss: 0.5568 - val_accuracy: 0.7244 - val_loss: 0.5643
Epoch 16/100
644/644  4s 6ms/step - accuracy: 0.7361 - loss: 0.5570 - val_accuracy: 0.7240 - val_loss: 0.5639
Epoch 17/100
644/644  7s 9ms/step - accuracy: 0.7264 - loss: 0.5611 - val_accuracy: 0.7188 - val_loss: 0.5656
Epoch 18/100
644/644  8s 6ms/step - accuracy: 0.7331 - loss: 0.5579 - val_accuracy: 0.7252 - val_loss: 0.5643
Epoch 19/100
644/644  6s 8ms/step - accuracy: 0.7316 - loss: 0.5583 - val_accuracy: 0.7258 - val_loss: 0.5640
Epoch 20/100
644/644  4s 6ms/step - accuracy: 0.7298 - loss: 0.5610 - val_accuracy: 0.7238 - val_loss: 0.5639
Epoch 21/100
644/644  4s 6ms/step - accuracy: 0.7326 - loss: 0.5573 - val_accuracy: 0.7248 - val_loss: 0.5657
268/268 - 1s - 3ms/step - accuracy: 0.7283 - loss: 0.5545
Further Optimized Loss: 0.554510235786438, Further Optimized Accuracy: 0.7282798886299133

In [15]:
from tensorflow.keras.layers import LeakyReLU

# Define the more complex and optimized model
nn_more_optimized = tf.keras.models.Sequential()

# First hidden layer with LeakyReLU activation
nn_more_optimized.add(tf.keras.layers.Dense(units=256, input_dim=X_train.shape[1], kernel_initializer='he_normal'))
nn_more_optimized.add(LeakyReLU(alpha=0.1))
nn_more_optimized.add(tf.keras.layers.BatchNormalization())
nn_more_optimized.add(tf.keras.layers.Dropout(0.3))

# Second hidden layer with LeakyReLU activation
nn_more_optimized.add(tf.keras.layers.Dense(units=128, kernel_initializer='he_normal'))
nn_more_optimized.add(LeakyReLU(alpha=0.1))
nn_more_optimized.add(tf.keras.layers.BatchNormalization())
nn_more_optimized.add(tf.keras.layers.Dropout(0.3))

# Third hidden layer with LeakyReLU activation
nn_more_optimized.add(tf.keras.layers.Dense(units=64, kernel_initializer='he_normal'))
nn_more_optimized.add(LeakyReLU(alpha=0.1))
nn_more_optimized.add(tf.keras.layers.BatchNormalization())
nn_more_optimized.add(tf.keras.layers.Dropout(0.3))

# Fourth hidden layer
nn_more_optimized.add(tf.keras.layers.Dense(units=32, kernel_initializer='he_normal'))
nn_more_optimized.add(LeakyReLU(alpha=0.1))
nn_more_optimized.add(tf.keras.layers.BatchNormalization())
nn_more_optimized.add(tf.keras.layers.Dropout(0.3))

# Output layer
nn_more_optimized.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Compile the model with a learning rate scheduler
lr_schedule = tf.keras.optimizers.schedules.ExponentialDecay(
    initial_learning_rate=0.001,
    decay_steps=10000,
    decay_rate=0.9)
optimizer = tf.keras.optimizers.Adam(learning_rate=lr_schedule)

nn_more_optimized.compile(loss="binary_crossentropy", optimizer=optimizer, metrics=["accuracy"])

# Train the optimized model
fit_model_more_optimized = nn_more_optimized.fit(X_train_scaled, y_train, epochs=150, validation_split=0.2, callbacks=[tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=10)])

# Evaluate the optimized model using the test data
model_loss_more_optimized, model_accuracy_more_optimized = nn_more_optimized.evaluate(X_test_scaled, y_test, verbose=2)
print(f"More Optimized Loss: {model_loss_more_optimized}, More Optimized Accuracy: {model_accuracy_more_optimized}")

/usr/local/lib/python3.10/dist-packages/keras/src/layers/activations/leaky_relu.py:41: UserWarning: Argument `alpha` is deprecated. Use `negative_slope` instead.
  warnings.warn(

Epoch 1/150
644/644  20s 8ms/step - accuracy: 0.6353 - loss: 0.7306 - val_accuracy: 0.7195 - val_loss: 0.5781
Epoch 2/150
644/644  10s 8ms/step - accuracy: 0.7072 - loss: 0.5947 - val_accuracy: 0.7213 - val_loss: 0.5721
Epoch 3/150
644/644  4s 6ms/step - accuracy: 0.7160 - loss: 0.5814 - val_accuracy: 0.7228 - val_loss: 0.5678
Epoch 4/150
644/644  4s 6ms/step - accuracy: 0.7205 - loss: 0.5784 - val_accuracy: 0.7217 - val_loss: 0.5698
Epoch 5/150
644/644  6s 8ms/step - accuracy: 0.7249 - loss: 0.5715 - val_accuracy: 0.7242 - val_loss: 0.5704
Epoch 6/150
644/644  9s 6ms/step - accuracy: 0.7230 - loss: 0.5717 - val_accuracy: 0.7217 - val_loss: 0.5707
Epoch 7/150
644/644  6s 9ms/step - accuracy: 0.7312 - loss: 0.5613 - val_accuracy: 0.7232 - val_loss: 0.5699
Epoch 8/150
644/644  8s 6ms/step - accuracy: 0.7243 - loss: 0.5691 - val_accuracy: 0.7228 - val_loss: 0.5676
Epoch 9/150
644/644  7s 8ms/step - accuracy: 0.7210 - loss: 0.5729 - val_accuracy: 0.7254 - val_loss: 0.5667
Epoch 10/150
644/644  4s 6ms/step - accuracy: 0.7314 - loss: 0.5635 - val_accuracy: 0.7238 - val_loss: 0.5677
Epoch 11/150
644/644  6s 7ms/step - accuracy: 0.7253 - loss: 0.5659 - val_accuracy: 0.7228 - val_loss: 0.5642
Epoch 12/150
644/644  6s 8ms/step - accuracy: 0.7341 - loss: 0.5580 - val_accuracy: 0.7236 - val_loss: 0.5664
Epoch 13/150
644/644  4s 6ms/step - accuracy: 0.7310 - loss: 0.5656 - val_accuracy: 0.7230 - val_loss: 0.5658
Epoch 14/150
644/644  6s 8ms/step - accuracy: 0.7281 - loss: 0.5612 - val_accuracy: 0.7236 - val_loss: 0.5653
Epoch 15/150
644/644  4s 7ms/step - accuracy: 0.7328 - loss: 0.5571 - val_accuracy: 0.7254 - val_loss: 0.5653
Epoch 16/150
644/644  4s 6ms/step - accuracy: 0.7335 - loss: 0.5569 - val_accuracy: 0.7242 - val_loss: 0.5639
Epoch 17/150
644/644  5s 8ms/step - accuracy: 0.7311 - loss: 0.5589 - val_accuracy: 0.7248 - val_loss: 0.5678
Epoch 18/150
644/644  5s 7ms/step - accuracy: 0.7340 - loss: 0.5591 - val_accuracy: 0.7277 - val_loss: 0.5640
Epoch 19/150
644/644  4s 7ms/step - accuracy: 0.7281 - loss: 0.5641 - val_accuracy: 0.7265 - val_loss: 0.5639
Epoch 20/150
644/644  5s 8ms/step - accuracy: 0.7340 - loss: 0.5595 - val_accuracy: 0.7250 - val_loss: 0.5639
Epoch 21/150
644/644  5s 7ms/step - accuracy: 0.7324 - loss: 0.5559 - val_accuracy: 0.7240 - val_loss: 0.5640
Epoch 22/150
644/644  4s 6ms/step - accuracy: 0.7318 - loss: 0.5575 - val_accuracy: 0.7236 - val_loss: 0.5632
Epoch 23/150
644/644  5s 7ms/step - accuracy: 0.7360 - loss: 0.5519 - val_accuracy: 0.7259 - val_loss: 0.5656
Epoch 24/150
644/644  5s 7ms/step - accuracy: 0.7322 - loss: 0.5559 - val_accuracy: 0.7236 - val_loss: 0.5643
Epoch 25/150
644/644  4s 6ms/step - accuracy: 0.7310 - loss: 0.5583 - val_accuracy: 0.7248 - val_loss: 0.5641
Epoch 26/150
644/644  5s 7ms/step - accuracy: 0.7399 - loss: 0.5494 - val_accuracy: 0.7244 - val_loss: 0.5649
Epoch 27/150
644/644  5s 8ms/step - accuracy: 0.7391 - loss: 0.5543 - val_accuracy: 0.7246 - val_loss: 0.5638
Epoch 28/150
644/644  4s 6ms/step - accuracy: 0.7299 - loss: 0.5546 - val_accuracy: 0.7259 - val_loss: 0.5627
Epoch 29/150
644/644  5s 7ms/step - accuracy: 0.7308 - loss: 0.5587 - val_accuracy: 0.7240 - val_loss: 0.5642
Epoch 30/150
644/644  5s 8ms/step - accuracy: 0.7376 - loss: 0.5547 - val_accuracy: 0.7246 - val_loss: 0.5630
Epoch 31/150
644/644  4s 6ms/step - accuracy: 0.7368 - loss: 0.5512 - val_accuracy: 0.7248 - val_loss: 0.5629
Epoch 32/150
644/644  4s 7ms/step - accuracy: 0.7379 - loss: 0.5520 - val_accuracy: 0.7240 - val_loss: 0.5633
Epoch 33/150
644/644  5s 8ms/step - accuracy: 0.7316 - loss: 0.5553 - val_accuracy: 0.7261 - val_loss: 0.5635
Epoch 34/150
644/644  4s 7ms/step - accuracy: 0.7363 - loss: 0.5545 - val_accuracy: 0.7250 - val_loss: 0.5626
Epoch 35/150
644/644  4s 6ms/step - accuracy: 0.7340 - loss: 0.5553 - val_accuracy: 0.7240 - val_loss: 0.5632
Epoch 36/150
644/644  6s 9ms/step - accuracy: 0.7359 - loss: 0.5518 - val_accuracy: 0.7234 - val_loss: 0.5637
Epoch 37/150
644/644  4s 6ms/step - accuracy: 0.7295 - loss: 0.5586 - val_accuracy: 0.7267 - val_loss: 0.5628
Epoch 38/150
644/644  4s 6ms/step - accuracy: 0.7327 - loss: 0.5565 - val_accuracy: 0.7256 - val_loss: 0.5633
Epoch 39/150
644/644  6s 9ms/step - accuracy: 0.7298 - loss: 0.5613 - val_accuracy: 0.7252 - val_loss: 0.5629
Epoch 40/150
644/644  4s 7ms/step - accuracy: 0.7365 - loss: 0.5490 - val_accuracy: 0.7242 - val_loss: 0.5632
Epoch 41/150
644/644  4s 7ms/step - accuracy: 0.7382 - loss: 0.5513 - val_accuracy: 0.7244 - val_loss: 0.5627
Epoch 42/150
644/644  6s 8ms/step - accuracy: 0.7325 - loss: 0.5579 - val_accuracy: 0.7265 - val_loss: 0.5635
Epoch 43/150
644/644  4s 6ms/step - accuracy: 0.7279 - loss: 0.5586 - val_accuracy: 0.7242 - val_loss: 0.5639
Epoch 44/150
644/644  6s 7ms/step - accuracy: 0.7287 - loss: 0.5624 - val_accuracy: 0.7265 - val_loss: 0.5630
268/268 - 1s - 3ms/step - accuracy: 0.7287 - loss: 0.5536
More Optimized Loss: 0.5535520315170288, More Optimized Accuracy: 0.7287463545799255

In [17]:
# Export our model to HDF5 file
nn_more_optimized.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.